[Unit]
Description=OpenVSwitch and OVN Controller service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
RestartSec=5

ExecStart=/usr/sbin/ovsovn-service-manager.sh START
ExecStop=/usr/sbin/ovsovn-service-manager.sh STOP

[Install]
WantedBy=multi-user.target
