[Unit]
Description=OpenVSwitch and OVN Controller service
After=network-pre.target systemd-udev-settle.service
Before=networking.service

StartLimitIntervalSec=0

[Service]
Type=oneshot
RestartSec=5
RemainAfterExit=true

ExecStart=/usr/sbin/ovsovn-service-manager.sh START
ExecStop=/usr/sbin/ovsovn-service-manager.sh STOP

[Install]
WantedBy=multi-user.target
